<mat-card class="top" style="text-align: center;">
    <mat-card-content>
        <mat-icon>memory</mat-icon>
        <mat-icon>memory</mat-icon>
        <mat-icon>memory</mat-icon>
        <h1 class="mat-headline"> Qui Sommes-nous? </h1>
        <p>_________________________</p>
        <p class="mat-subheading-2"> Nous sommes une agence Digitalement transformée !
            Grâce à son expérience de plus de 20 ans dans le Web, le mobile et le marketing digital,
            MEDIANET est un accompagnateur dans la transformation digitale 360°</p>
    </mat-card-content>

</mat-card>

            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <mat-card style="text-align: center;">
                    <mat-card-content>
                        <mat-icon>memory</mat-icon>
                        <mat-icon>memory</mat-icon>
                        <mat-icon>memory</mat-icon>
                        <h1 class="mat-headline"> Notre Vision </h1>
                        <p>_________________________</p>
                        <p class="mat-subheading-2"> Développer un écosystème basé sur le Co-leadership, composé
                            d'experts créatifs et socialement
                            responsables,
                            favorisant et renforçant l'innovation et la transformation technologique
                            composé d'experts créatifs et socialement responsables,
                            favorisant et renforçant l'innovation et la transformation technologique
                            composé d'experts créatifs et socialement responsables,
                            favorisant et renforçant l'innovation et la transformation technologique</p>
                    </mat-card-content>
</mat-card>

</mat-grid-tile>
<mat-grid-tile>




    <mat-card style="text-align: center;">
    <mat-card-content>
        <mat-icon>memory</mat-icon>
        <mat-icon>memory</mat-icon>
        <mat-icon>memory</mat-icon>
        <h1 class="mat-headline">Notre Mission</h1>
        <p>_________________________</p>
        <p class="mat-subheading-2">Créer, développer et optimiser le business des entreprises
            dans le monde en utilisant la technologie et la créativité
            développer et optimiser le business des entreprises
            dans le monde en utilisant la technologie et la créativité
            développer et optimiser le business des entreprises
            dans le monde en utilisant la technologie et la créativité</p>
            <span class="alink"><a routerLink="/organigramme" routerLinkActive="active">Découvrez Notre équipe
            </a></span>
    </mat-card-content>
    </mat-card>
</mat-grid-tile>

</mat-grid-list>