mat-card {
    padding: 5em;
    background-color: #fc9403;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    height: 500px;
}

.top {
    background-image: url('https://images.pexels.com/photos/1105379/pexels-photo-1105379.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
}

@media all and (min-width: 1265px) and (min-height: 860px) {
    mat-card {
      margin-top: calc(17vh - 10%);
    }
}
mat-card-content{
    padding : 60px;
    margin:auto;
}

.alink{
    float:center;
    text-decoration:underline; 
    position: absolute;
    top: 75%;
    left: 42%;
}