<mat-card 
style="background-image: url('https://img-19.ccm2.net/8vUCl8TXZfwTt7zAOkBkuDRHiT8=/1240x/smart/b829396acc244fd484c5ddcdcb2b08f3/ccmcms-commentcamarche/20494859.jpg');
">
    <mat-card-content>
        <div class="header">
            <div><img class ="image_logo" src="../../assets/img/res.png" alt="eScuola">
            </div>
            <div class="header1">
            <h1> Qui Sommes-nous? </h1>
            <p> Nous sommes une agence Digitalement transformée !
                Grâce à son expérience de plus de 20 ans dans le Web, le mobile et le marketing digital, 
                MEDIANET est un accompagnateur dans la transformation digitale 360°</p>
         </div>
        </div>

  
    </mat-card-content>
  
</mat-card>
<mat-card>
    <mat-card-content>
        
            <div class="header1">
                <mat-grid-list cols="2" rowHeight="1:1">
                    <mat-grid-tile>
                    <h1 class="tile-header">Notre Vision</h1>
                    Développer un écosystème basé sur le Co-leadership, composé d'experts créatifs et socialement responsables, 
                    favorisant et renforçant l'innovation et la transformation technologique
                    composé d'experts créatifs et socialement responsables, 
                    favorisant et renforçant l'innovation et la transformation technologique
                    composé d'experts créatifs et socialement responsables, 
                    favorisant et renforçant l'innovation et la transformation technologique
                    </mat-grid-tile>
                    <mat-grid-tile>
                    <h1 class="tile-header">Notre Mission</h1>
                    Créer, développer et optimiser le business des entreprises 
                    dans le monde en utilisant la technologie et la créativité
                    développer et optimiser le business des entreprises 
                    dans le monde en utilisant la technologie et la créativité
                    développer et optimiser le business des entreprises 
                    dans le monde en utilisant la technologie et la créativité
                    </mat-grid-tile>
                    
                  </mat-grid-list>
            
         </div>
      
        <div>
              <span class="alink"><a routerLink ="/organigramme"  routerLinkActive= "active" >Découvrez Notre équipe </a></span>
            </div>
            <div >
            <p class="credit">© 2021 Freez@exe</p>
            </div>
  
    </mat-card-content>
  
  </mat-card>
  