body {
    margin: 0;
    color: #ffffff;
    background: #ffffff;
    font: 600 16px/18px 'Open Sans', sans-serif;
    overflow : hidden;
}

mat-card{
    max-width : 600px;
    text-align: center;
    max-height: 700px;
    margin:  auto;
    border : 5px bold gray;
    background-color: rgba(255, 255, 255, 0.836);
}
@media all and (min-width: 1265px) and (min-height: 860px) {
    mat-card {
      margin-top: calc(17vh - 10%);
    }
}
mat-card-content{
    padding : 60px;
    margin:auto;
}


.header{
    text-align : center;
}

.full-width{
    width : 480px;
    margin-top: 50px;
    float: center;
}



.alink{
    float:center;
    text-decoration:underline; 
    position: absolute;
    top: 65%;
    left: 42%;
    

    
}

.image_logo {
    width : 100px;
    padding : 2em;  
}

.mat-flat-button{
    width : 110px;
    border-radius: 4px;   
}

.credit{
    color: rgb(94, 94, 94);
    padding : 80px;
}
.image_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


