mat-card{
    width : 100%;
    height: 100%;
    margin:  -10px;
    position: fixed;
    text-align: center;
    background-image: url('https://images.pexels.com/photos/3761266/pexels-photo-3761266.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    color: white;
}

mat-card-content{
    padding : 60px;
    margin:auto;
}